<div class="container">
  <h1>List of Dive Sites</h1>
  <div class="row">
    <div class="col-sm-12"
      [style.margin-bottom.px]="12">
      <a class="btn btn-primary btn-lg"
        routerLink="add">
        Add new site
      </a>
    </div>
  </div>
  <div class="row" *ngFor="let site of sites; let e=even; let f=first; let l=last"
    ywActionable="#aaaaaa" (onAction)="edit(site.id)"
    [ngClass]="{ evenRow: e }"
    [class.topRow]="f"
    [class.bottomRow]="l">
    <div class="col-sm-8">
      <h4>{{site.id}}: {{site.name}}</h4>
    </div>
    <div class="col-sm-4" style="margin-top: 5px;">
      <div class="pull-right">
        <a class="btn btn-warning btn-sm"
          [routerLink]="['edit', site.id]">
          Edit
        </a>
        <a class="btn btn-danger btn-sm"
          *ngIf="authService.loggedInUser == 'Admin'"
          [routerLink]="['delete', site.id]">
          Delete
        </a>
      </div>
    </div>
  </div>
</div>